
#auth_pane {
    -fx-background-image: url("/images/auth-bg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: -140px 0;
}

#main_pane {
    -fx-background-color: #1a1c2b;

}

#main_menu {
    -fx-background-color: #5599ff;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: #1a1c2b;
}

#logo {
    -fx-text-fill: white;
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
}

#logo_medium {
    -fx-text-fill: white;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}

.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 10px;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #5599ff;

    -fx-text-fill: #1a1c2b;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

#auth_buttons {
    -fx-pref-height: 30px;
    -fx-pref-width: 140px;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #5599ff;
    -fx-text-fill: #1a1c2b;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}


#auth_input {
    -fx-pref-height: 25px;
    -fx-pref-width: 140px;
    -fx-background-radius: 0;
}

#auth_label {
    -fx-text-fill: #1a1c2b;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

#auth_input_error {
    -fx-text-fill: #b13232;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

#dialog {
    -fx-background-color: #5599ff;
    -fx-font-size: 10pt;
}

#dialog_text {
    -fx-font-weight: bold;
    -fx-text-fill: #1a1c2b;
}

#dialog_button {
    -fx-pref-width: 100px;
    -fx-pref-height: 10px;
    -fx-background-radius: 0;
    -fx-background-color: #1a1c2b;
    -fx-text-fill: #5599ff;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

/*#dialog_label {
    -fx-font-size: 10pt;
    -fx-text-fill: #1a1c2b;
}*/


.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}

.table-view .column-header .label {
    -fx-alignment: CENTER-LEFT;
}


